<h1 class="mt-4">Seja bem-vindo!</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Dashboard</li>
</ol>
<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card bg-primary text-white mb-4">
            <div class="card-head pt-2 px-3">
                <i class="fa fa-users fa-4x"></i>
                <h1 class="align-top d-inline-block pl-5 font-weight-bold"><%= @total_users %></h1>
            </div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <div>Total de Usuários</div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-success text-white mb-4">
            <div class="card-head pt-2 px-3">
                <i class="fa fa-comments fa-4x"></i>
                <h1 class="align-top d-inline-block pl-5 font-weight-bold"><%= @total_questions %></h1>
            </div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <div>Total de Questões</div>
            </div>
        </div>
    </div>
</div>
