<% if @answer.correct %>
    <div class="bg-light p-5">
        <h1 class="text-success">Parabéns você acertou! \o/</h1>
    </div>
<% else %>
    <div class="bg-light p-5">
        <h1 class="text-danger">Infelismente você ERROU! :(</h1>
    </div>
<% end %>