var correct = <%= @answer.correct %>;
var question_id = <%= @answer.question_id %>;
var btnClass = (correct ? "btn-success" : "btn-danger");
var messageClass = (correct ? "success" : "danger");
var messageText = (correct ? "Parabéns você acertou! \\o/" : "Infelismente você ERROU! :(");

$("#submit_"+question_id).removeClass("btn-outline-dark btn-success btn-danger");
$("#submit_"+question_id).addClass(btnClass);

html = "";
html += "<div data-notify='container' class='col-xs-11 col-sm-3 alert alert-{0}' role='alert'>";
html +=     "<button type='button' aria-hidden='true' class='btn close' data-notify='dismiss'>×</button>";
html +=     "<span data-notify='icon'></span>";
html +=     "<span data-notify='title'>{1}</span>";
html +=     "<span data-notify='message'>{2}</span>";
html +=     "<div class='progress' data-notify='progressbar'>";
html +=         "<div class='progress-bar progress-bar-{0}' role='progressbar' aria-valuenow='0' aria-valuemin='0' aria-valuemax='100' style='width: 0%;'></div>";
html +=     "</div>";
html +=     "<a href='{3}' target='{4}' data-notify='url'></a>";
html += "</div>";

$.notify(messageText, {type: messageClass, template: html, z_index: 99999});
